body {
  padding: 10px;
  font-family: sans-serif;
}

.btn-group button {
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 10px 24px;
  cursor: pointer;
  float: left;
}

.btn-group button:not(:last-child) {
  border-right: none;
}

.btn-group:after {
  content: '';
  clear: both;
  display: table;
}
